body {
  margin: 0;
  background-color: #06171e;
  font-family: 'Figtree-ExtraBold';
}

header {
  background-color: #09212a;
  width: 100%;
}

h1 {
  font-size: 56px;
  text-align: center;
}

#image_title {
  font-size: 36px;
  color: white;
  margin: 0;
  padding-left: 45px;
}

#main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 40px;
}

#main_footer {
  margin: 0;
  width: 100%;
  background-image: url(./assets/footer_background.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  bottom: 0;
}

.header_img {
  width: 200px;
  padding: 20px;
  margin-left: 180px;
}

.header_btn {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
}

#image_button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
}

#photo_gallery {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  padding-bottom: 150px;
  opacity: 1;
  transition: opacity 100ms linear;
  margin-left: 20px;
  margin-right: 20px;
}

#mainImages {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: solid 2px #124658;
  border-radius: 16px;
}

#mainImages:hover {
  filter: brightness(125%);
  scale: calc(1.1)
}

#imageOverlay {
  height: 800px;
  width: 1000px;
  background-color: #124658;
  padding: 0;
  margin: 100px, 100px;
}

#imageOverlay::backdrop {
  opacity: 0;
  background-color: #06171e;
  transition: all 0.25s ease-in;
}

#imageOverlay.opened::backdrop {
  opacity: 0.75;
  background-color: #06171e;
  transition: all 0.25s ease-in;
}

#overlayHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#showImage {
  height: 82.8%;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainImagesInOverlay {
  max-height: 600px;
  max-width: 1000px;
}

#overlay_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #09212a;
  padding: 10px;
}

.footer_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.footer_btn {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
}

#previous-btn {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.left-btn-img {
  transform: scaleX(-1);
  height: 40px;
  width: 40px;
}

.left-btn-img:hover {
  filter: brightness(150%);
}

#next-btn {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.right-btn-img {
  height: 40px;
  width: 40px;
}

.right-btn-img:hover {
  filter: brightness(150%);
}

#img_counter {
  color: white;
}

.exit-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  margin-right: 45px;
}

.exit-btn:hover {
  background-color: #06171e
}

@font-face {
  font-family: 'Figtree-ExtraBold';
  src: url(./fonts/Figtree-ExtraBold.ttf);
}

@media(max-width: 1439px) {
  #main_footer {
    position: fixed;
    bottom: 0;
  }
}

@media(max-width: 1060px) {
  #imageOverlay {
    width: 700px;
  }
  #showImage {
    width: 700px;
  }
  #mainImagesInOverlay {
    max-width: 700px;
  }
  #main_footer {
    position: relative;
    bottom: 0;
  }
}

@media(max-width: 915px) {
  .header_img {
    margin: 0;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer_img {
    width: 200px;
  }
}

@media(max-width: 845px) {
  #main-wrapper {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media(max-width: 760px) {
  #imageOverlay {
    width: 450px;
  }
  #showImage {
    width: 450px;
  }
  #mainImagesInOverlay {
    max-width: 450px;
  }
  #image_title {
    font-size: 24px;
    padding-left: 10px;
  }
  .exit-btn {
    margin-right: 0;
  }
}

@media(max-width: 510px) {
  #imageOverlay {
    width: 250px;
  }
  #showImage {
    width: 250px;
  }
  #mainImagesInOverlay {
    max-width: 250px;
  }
  #image_title {
    font-size: 16px;
  }
  #main-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    gap: 80px;
  }
}