body {
  margin: 0;
  background-color: #06171e;
  max-width: 1920px;
  font-family: 'Figtree-ExtraBold';
}

header {
  background-color: #09212a;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  height: 100%;
  color: white;
  margin-left: 50px;
}

footer {
  margin: 0;
  background-image: url(./assets/footer_background.png);
  background-position: top;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-shrink: 0;
}

.header_img {
  width: 200px;
  padding: 20px;
  margin-left: 180px;
}

.image_gallery {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.footer_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

@font-face {
  font-family: 'Figtree-ExtraBold';
  src: url(./fonts/Figtree-ExtraBold.ttf);
}